html,
body {
  overflow-x: hidden !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid,
.container,
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
